@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500&family=Playfair+Display:ital@1&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* reset classes */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;
}
body{
    font-family: 'poppins',sans-serif;
    color: var(--primary-text-color);
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}

/* utility class */
.top-banner{
    background-color: #4fb3d4;
    background-image: url('./assets/asset\ 32.png');
    background-size: 300px;
}
.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}

.flex{
    display: flex;
    align-items: center;
   
}
.hover-link{
   color: var(--primary-text-color);
}
.hover-link:hover{
    color: var(--accent-color);
}
.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 600;
    color: white !important;
    padding: 12px 24px;
   
    box-shadow: 0 0 2px var(--secondary-text-color);
}
.secondary-button{
    border: 1px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 600;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    
}
.secondary-button:hover{
    border-color: var(--accent-color);
}
/* top-banner */
.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}
.small-bold-text{
    font-size: 1rem;
    font-weight: 600;
}
/* main-nav */
.main-nav img{
    width: 200px;

}
.main-nav{
    justify-content: space-between;
    margin-top: 20px;
}
.nav-link ul{
    justify-content: end;
    gap: 40px
    ;
}

/* header-section */
header{
    padding: 50px var(--padding-inline-section) 0;
}
.header-section{
    justify-content: center;
    gap: 50px;
}
.header-right img{
width: 600px;
}
.header-left{
    max-width: 40vw;
}
.header-left h1{
    margin-bottom: 10px;
}
.header-left a{
    margin-top: 20px;
}
/* company-sextion */
.company-header{
    text-align: center;
    margin-block: 30px
    ;
    color: black;
    
}
.logo img{
    height: 40px;
    
}
.logo{
    justify-content: space-between;
    flex-wrap: wrap ;
}
/* feature-section */
.feature-section{
    background-image: url('./assets/asset\ 34.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.feature-header{
    padding: 80px var(--padding-inline-section) 0;
   
}
.feature-header{
    text-align: center;
}
.feature-header h2{
    margin-bottom: 20px;
}

.feature-card{
    flex-direction: column;
    gap: 10px
    ;
    max-width: 30%;
    text-align: center;
}
.feature-area{
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px
    ;
    margin-top: 40px;
}


/* big-feature-section---1 */
.big-feature-section{
    /* margin: 20px 10px 0; */
    padding: 30px var(--padding-inline-section) 0;
}
.big-feature-section-container{
    gap: 30px ;
}
.feature-img img{
    width: 100%;
}
.feature-desc{
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
}
.feature-desc h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
.feature-desc img{
    float: left;
}
.sub-div{
    display: flex;
    flex-direction: column;

}
.sub-div p{
    font-size: 14px;
}
.feature-gap{
    gap: 10px;
    margin-top: 10px;
}
.feature-desc h3{
margin-block: 10px;
}

/* BIGFEATURE-2 */
.feature-desc h4{
    FONT-WEIGHT: 530;
}
.footer-flex{
    gap: 10px;
    margin-top: 20px;
}
.footer-flex p{
    font-size: 15px;
}

/* big-feature-section-3 */
.feature-last-section img{
    width: 120px;
    margin-block: 20px;
}
.last{
    gap: 20px;
}
.last h4{
    font-size: 25px;
}
.last p{
    font-size: 18px;
}
.new-desc img{
    width: 100px;
}

/* example-heading */

.example-header{
flex-direction: column;
gap: 10px;
}
.example-card{
    width: 23%;
    position: relative;
    min-height: 300px;
    background-color: black;
    background:linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url(./assets/asset\ 36.jpeg);
}
.card-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
}
.example-area{
    justify-content: space-between;
    margin-block: 30px
    ;
}
/* cta-section */
.cta-container-section{
    flex-direction: column;
    gap: 20px
    ;
    color: white;
}
.cta-section{
    background-color: #183b54;
    padding: 120px var(--padding-inline-section) 80px;
}
.cta-container-section p{
    color: white;
    margin-top: 20px;
}

/* footer-section */
footer{
    padding-block: 80px;
    background-color:#ebf2fa;
}
.link-column{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.footer-container{
    align-items: flex-start;
    justify-content: space-between;

}
.footer-container a img{
    width: 300px;
}
/* sub-footer-section */
.subfooter{
    background-color: #b9cde4;
    padding: var(--padding-inline-section);
}
.subfooter-container{
    justify-content: center;
    gap: 20px;
}
.facebook-link{
    padding-left: 40px;
}

